.article--slideshow .ss-reset {
	p {
		padding-left: 0;
	}
	
	h2 {
		font-weight: bold;
		font-family: 'Libre Baskerville',serif;
	}
}

.ss-list {
	margin-left:0;
	margin-top:2em;
	list-style-type: none;
	
	p {
		font-size: 1em;
		font-family: lato,sans-serif;
	}
}